@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		@if (ViewExists("Favicons"))
		{
			@Html.Partial("Favicons")
		}
		
        <!-- US:CSS -->
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
		
		<!-- US:JS -->
		
		<script src="js/main.js"></script>
		
		@RenderSection("head", false)
    </head>
    <body>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				  <a class="navbar-brand" href="#">Project name</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
				  <form class="navbar-form navbar-right" role="form">
					<div class="form-group">
					  <input type="text" placeholder="Email" class="form-control">
					</div>
					<div class="form-group">
					  <input type="password" placeholder="Password" class="form-control">
					</div>
					<button type="submit" class="btn btn-success">Sign in</button>
				  </form>
				</div><!--/.navbar-collapse -->
			</div>
		</nav>
		
		<div class="container">

			@RenderBody()

		  	<hr />

			<footer>
				<p>&copy; UmrbacoScaffolding 2015</p>
			</footer>
		</div> <!-- /container -->
		
		@if (ViewExists("GoogleTrackingCode"))
		{
			@Html.Partial("GoogleTrackingCode")
		}
		
    </body>
</html>

@functions {
	public static bool ViewExists(string view)
	{
		var path = "views/Partials/" + view + ".cshtml";
		path = HttpContext.Current.Server.MapPath(path);
		return System.IO.File.Exists(path);
	}
}